<div class="contents row">
  <div class="container-edit">
    <%= form_with(model: @post, local: true) do |form| %>
      <%= form.text_field :name, placeholder: "店名" ,class:"text-box"%>
      <%= form.file_field :image ,class:"text-box"%>
        <div class="category-box">
       <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
       <%= category.label do %>
          <%= category.check_box %>
          <%= category.text %>
      <% end %>
       <% end %>
            </div>
      <%= form.submit "SEND", class:"send-btn" %>
    <% end %>
  </div>
  
</div>