<%# 新規投稿ページ %>
<div class="contents row">
  <div class="container">
 
    <%= form_with(model: @post, local: true) do |form| %>
    <div class="store-image">
    <%= render 'layouts/error_messages', model: form.object %>
     <p>店名と画像 両方入力してください</p>
      <%= form.text_field :name, placeholder: "店名" %>
      <%= form.file_field :image %>
    </div>
      <div class="category-box">
       <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
       <%= category.label do %>
          <%= category.check_box %>
          <%= category.text %>
      <% end %>
       <% end %>
            </div>
      <%= form.submit "SEND",class: "send-btn" %>
    <% end %>
  </div>
</div>