<body>


<div class="main">
<div class="result-box">検索結果</div>
<%= form_with model: @post, url: sort_path, method: :get, local: true do |form| %>
  <%= form.select :keyword,[ ['投稿が新しい順', 'new'],
                            ['投稿が古い順', 'old'],
                            ['いいねが多い順(いいね1以上)', 'likes'],
                          ] %>
  <%=form.submit%>
        <% end %>
<% @posts.each do |post| %>

    <div class="content_post" style='background-image: url(<%= post.image %>);'>
       <div class="more">
        <ul class="more_list">
           <%if user_signed_in? %>
           <li>
            <%= link_to '詳細', "/posts/#{post.id}", method: :get %>
          </li>
         <% if user_signed_in? && current_user.id == post.user_id %>
          <li>
            <%= link_to '編集', "/posts/#{post.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
          </li>
             <% end %>
           <% end %>
        </ul>

      </div>
       <div class="name">
        <p><%=post.name%></p>
      </div>
            <i class= "fas fa-heart"> <%= post.likes.count %></i>
    </div>
    
     <% end %>
      <div class="start">
    <p><%= image_tag 'logo.png' %></p>
  </div>
</div>
</body>